@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font: 'Hanuman', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
	font-family: var(--app-font);
}
