@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-font: 'Hanuman', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
	font-family: var(--app-font);
}

.select2-container {
    min-width: 250px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    height: 42px;
    display: flex;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
    padding-left: 12px;
    padding-right: 30px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    right: 8px;
}

.select2-dropdown {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
}

.select2-results__option--highlighted {
    background-color: #f3f4f6 !important;
    color: #111827 !important;
}

.select2-results__option--selected {
    background-color: #dbeafe !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #9ca3af;
}

@media (max-width: 1024px) {
    .select2-container {
        min-width: 100% !important;
    }
}